# Files to ignore

# Compiled/cached python
*.pyc
__pycache__/*
*.zip
*.log
keene-ir-dev.csv
userDetails.json
userDetails.py
#alexa_smart_home_message_schema.json

# Skill icons
*.png

# Imported libraries
boto/*
boto-2.48.0.dist-info/*
certifi/*
certifi-2018.1.18.dist-info/*
chardet/*
chardet-3.0.4.dist-info/*
idna/*
idna-2.6.dist-info/*
jsonschema/*
requests/*
requests-2.18.4.dist-info/*
urllib3/*
urllib3-1.22.dist-info/*